/* File: launcher/src/branding/tokens.css */

/* https://www.tints.dev/palette/v1:bGlnaHR8Njk2NURCfDUwMHxwfDB8MHwwfDEwMHxtfmRhcmt8QThBNUZGfDMwMHxwfDB8LTJ8MHwxMDB8bQ */
:root {
  --brand-light-50: #f1f1f1;
  --brand-light-100: oklch(92.45% 0.008 286.38);
  --brand-light-200: oklch(83% 0.029 285.78);
  --brand-light-300: oklch(73.56% 0.066 285.66);
  --brand-light-400: oklch(65.39% 0.108 283.64);
  --brand-light-500: oklch(57.2% 0.175 280.84); /* Brand Logo */
  --brand-light-600: oklch(48.58% 0.153 280.9);
  --brand-light-700: oklch(39.78% 0.116 281.01);
  --brand-light-800: oklch(31.41% 0.067 283.04);
  --brand-light-900: oklch(22.53% 0.029 283.84);
  --brand-light-950: oklch(17.85% 0.004 286.04);

  --brand-dark-50: oklch(95.77% 0.012 286.27);
  --brand-dark-100: oklch(91.44% 0.031 287.8);
  --brand-dark-200: oklch(84.06% 0.068 285.79);
  --brand-dark-300: oklch(75.98% 0.128 284.45); /* Brand Logo */
  --brand-dark-400: oklch(67.37% 0.145 283.6);
  --brand-dark-500: oklch(58.93% 0.156 282.2);
  --brand-dark-600: oklch(50.2% 0.149 281.93);
  --brand-dark-700: oklch(41.22% 0.114 282.13);
  --brand-dark-800: oklch(31.36% 0.055 284.24);
  --brand-dark-900: oklch(22.53% 0.013 285.29);
  --brand-dark-950: #111111;
}
